{% load static %}

<!DOCTYPE html>
<html class="{% block html_classes %}{% endblock %}" xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <!-- Title -->
        <title>{% block title %}arXiv{% endblock %}</title>

        <!-- Meta -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Language" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="rgb(91,46,79)">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">
        {% block meta %}
        {% endblock %}

        <!-- favicon -->
        {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{% static 'arxiv/img/favicon.ico' %}">
        {% endblock %}

        <!-- CDN CSS -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,300">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        {% block cdn_css %}
        {% endblock %}

        <!-- Site CSS -->
        {% block css %}
        <style>html,body { height: 100%; margin: 0; }</style>
        <link rel="stylesheet" type="text/css" href="{% static 'arxiv/css/style.css' %}">
        {% endblock css %}

        <!-- Header JS -->
        {% block head_js %}
        {% endblock %}
    </head>

    <body class="{% block body_classes %}{% endblock %}" {% block body_attrs %}{% endblock %}>
        {% block body %}
        {% endblock %}

        {% block foot_js %}
        {% endblock %}
    </body>
</html>
