/* global styles */
a {
    text-decoration: none; }
p {
    margin-bottom: 1.5rem; }
h1, h3 {
    font-weight: 300; }
h1 span, h2 span {
    position: relative;
    font-size: 200%;
    color: black;
    vertical-align: middle; }
h5 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400; }
h5 a {
    color: black; }
h6 {
    margin: 0; }
select[multiple] {
    height: inherit; }
form input,
form select {
    width: 100%; }

/* style classes */
.center {
    text-align: center; }
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
.block-center {
    height: 100%;
    margin-top: -20px;
    -webkit-box-align-items: center;
    -moz-box-align-items: center;
    -ms-flex-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-justify-content: center;
    -moz-box-justify-content: center;
    -ms-flex-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center; }
.block-center .container {
    max-width: 420px; }
.left {
    width: 85%;
    float: left; }
.right {
    width: 15%;
    float: right;
    text-align: right; }
.clearfix {
    clear: both; }
.square {
    display: inline-block;
    font-size: 12px;
    border: none;
    padding: 5px 10px; }

/* colors */
.button-primary,
input[type=submit].button-primary {
    color: white;
    border: none;
    background: rgb(91,46,79); }
a {
    color: rgb(91,46,79); }
.button-primary:hover,
input[type=submit].button-primary:hover {
    color: white;
    background: rgb(210,22,84); }
a:hover {
    color: rgb(210,22,84); }
input:focus, select:focus {
    border-color: rgb(210,22,84) !important; }
.arxiv a {
    color: rgb(34,34,34); }
.arxiv a:hover span {
    color: rgb(210,22,84); }


/* layout */
.feed {
    border-bottom: 1px solid rgb(238,238,238); }
.card {
    padding: 10px;
    border-top: 1px solid rgb(238,238,238); }
.card:hover {
    background: rgb(245,245,245); }
.card input {
    position: absolute;
    display: none; }
.card label {
    display: block; }
.comment, .unsubscribe {
    font-style: italic;
    margin: 6px 0;
    font-size: 13px; }
.unsubscribe {
    padding: 10px 0; }

/* accordian */
.card input ~ .accordian {
    padding: 10px 0;
    max-height: 1000px; }
.card input:checked ~ .accordian {
    padding: 0;
    max-height: 0; }
.accordian {
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }

/* Chosen Subscribe */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  margin-top: -2.5rem;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #D1D1D1;
  border-top: 0;
  background: #fff;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: rgb(91,46,79);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  background-color: #fff;
  cursor: text;
}
.chosen-container-active .chosen-choices {
  border-color: rgb(210,22,84) !important;
}
.chosen-with-drop .chosen-choices {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 6px 10px;
  height: 38px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 5px 5px 0px 0;
  padding: 3px 10px;
  width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  color: #333;
  line-height: 26px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
